<html>
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/header.ejs') %>

    <div>
        <button onclick="create()" id="submit">Create</button>
    </div>

    <%- include('../partial/footer.ejs') %>

    <script src="js/index.js"></script>
</body>
</html>