<html>
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/header.ejs') %>

    <p>You do not have access to this site!</p>

    <%- include('../partial/footer.ejs') %>
</body>
</html>